/*
-----------------------------------------
 > Mixins <
-----------------------------------------
*/
/* line 3, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.accordion {
  float: left;
  width: 60%; }
  @media (max-width: 768px) {
    /* line 3, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .accordion {
      width: 100%;
      margin-bottom: 24px; } }
  /* line 10, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
  .accordion h3 {
    line-height: 36px;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 0.6s ease; }
    /* line 15, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .accordion h3:focus {
      outline: none; }
    /* line 18, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .accordion h3 .fa {
      float: right;
      margin-top: 12px;
      margin-right: 12px;
      transform: rotate(0deg);
      transition: transform 0.6s ease; }
  /* line 26, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
  .accordion .ui-accordion-content {
    background: #eee;
    padding: 1px 10px; }

/* line 32, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #1A90D8 !important;
  border: 1px solid #d3d3d3; }

/* line 37, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.7em;
  min-height: 0;
  /* support: IE7; */
  font-size: 100%; }

/* line 48, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.accordion h3.ui-state-active .fa {
  transform: rotate(180deg);
  transition: transform 0.6s ease; }

/* line 53, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.sky-form input[type="text"], .sky-form textarea {
  margin: 5px 0;
  width: 100%; }

/* line 58, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
.tile-container.top .tile-container {
  padding-right: 0;
  margin-right: 4%; }
  @media (max-width: 768px) {
    /* line 58, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .tile-container.top .tile-container {
      padding-right: 12.5%;
      margin-right: auto; } }
  /* line 65, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
  .tile-container.top .tile-container .tile.small.form {
    float: right;
    margin-top: 24px;
    margin-right: 0;
    padding: 10px; }
    /* line 70, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .tile-container.top .tile-container .tile.small.form form {
      margin-bottom: 0; }
    /* line 73, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
    .tile-container.top .tile-container .tile.small.form .btn-default {
      display: block;
      color: #fff;
      background: #1A90D8;
      font-size: 18px;
      border: none;
      margin: 10px auto;
      padding: 10px 30px; }
      /* line 81, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/course.scss */
      .tile-container.top .tile-container .tile.small.form .btn-default:hover {
        cursor: pointer;
        background: #34AAF2; }

/*# sourceMappingURL=course.css.map */