@import 'mixin.scss';

/*
-----------------------------------------
 > Index Page <
-----------------------------------------
*/

.polaris-wrapper {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 4vw;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.polaris-wrapper * {
    box-sizing: inherit;
}

.hero-container {
    position: relative;
    padding-bottom: 32.5%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .hero-wrapper {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
        .hero-vid {
            margin-top: -185px;

            @include tablet {
              display: none !important;
            }
        }
        .hero-banner {
          margin-top: -25px;
          width: 100%;
          display: none;

          @include tablet {
              display: block !important;
          }

        }
    }
}

.tile-container {
    .tile.small-long {
        width: 64%;
        float: left;
        margin-right: 1.31669%;
        margin-left: 1.31669%;
        padding: 15px 30px;
        border: none;
        background-color: #a51d4d;
        text-align: right;
        color: #fff;
        .tile-content {
            padding-bottom: 0;
        }
        p {
            padding-bottom: 10px;
        }
        a {
            padding-bottom: 12px;
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.tile-container.text {
    margin-top: 30px;
}

.tile-container.middle {
        padding: 0;
        margin-top: -30px;
        .quote {
            border: none;
            text-align: center;
            margin: 100px auto 70px;
            @include tablet {
                width: 80%;
            }
            .quote_marks {
                font-size: 70px;
                color: #ed0677;
                @include tablet {
                    font-size: 50px;
                    line-height: 30px;
                }
            }
            h2 {
                display: inline;
                @media (max-width: 992px) {
                    font-size: 32px;
                    line-height: 45px;
                }
            }
        }
        .text {
            background-color: #0076be;
            padding: 35px 12.5%;
            margin-top: 40px;
            color: #fff;
            p {
              margin: 0;
            }
        }
    }