/*
-----------------------------------------
 > Mixins <
-----------------------------------------
*/
/*
-----------------------------------------
 > Profiles Page <
-----------------------------------------
*/
/* line 9, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
.rc-anchor-normal {
  width: 100% !important; }

@media (max-width: 768px) {
  /* line 15, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .title {
    width: 85%; } }

/* line 19, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .hero-wrapper {
  background-image: url(/images/assets/workforus.jpg);
  background-size: cover;
  background-position: 0 -345px;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    /* line 19, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .hero-wrapper {
      background-position: 0 -200px; } }
  @media (max-width: 480px) {
    /* line 19, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .hero-wrapper {
      background-position: 0 -100px; } }

/* line 32, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.top {
  padding-left: 0;
  padding-right: 9.5%;
  margin-top: -40px; }
  @media (max-width: 768px) {
    /* line 32, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top {
      padding: 0;
      margin-top: 0; } }
  /* line 40, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
    width: 25%;
    margin-left: 8%;
    margin-right: 0; }
    @media (max-width: 768px) {
      /* line 40, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
        width: 50%;
        margin: 0 auto;
        float: none;
        display: table; } }
    @media (max-width: 480px) {
      /* line 40, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
        width: 65%; } }
    /* line 53, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-media {
      padding-bottom: 0; }
      /* line 55, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-media span {
        font-size: 100px;
        margin: 40px auto 0;
        color: #fff;
        display: table;
        transition: all 0.6s ease; }
    /* line 63, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-content {
      padding-bottom: 82px; }
      /* line 65, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-content .tile-title {
        color: #fff;
        text-align: center;
        transition: all 0.6s ease; }
    /* line 71, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-bg {
      background-color: #2b93d1;
      transition: all 0.6s ease; }
    /* line 76, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-link:hover .tile-bg {
      background-color: #1A90D8;
      transition: all 0.6s ease; }
    /* line 80, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-link:hover .tile-media span {
      transition: all 0.6s ease; }
  /* line 86, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .description.small-long {
    width: 96%;
    float: left;
    margin-right: 1.31669%;
    margin-left: -1px;
    padding: 30px 30px 30px 15%;
    border: none;
    background-color: #a51d4d;
    color: #fff; }
    @media (max-width: 768px) {
      /* line 86, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .description.small-long {
        width: 100%;
        margin-left: 0;
        margin-bottom: 8%; } }
    /* line 100, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .description.small-long h2 {
      margin: 5px 0 10px; }
    /* line 103, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .description.small-long p {
      margin: 35px 0 10px;
      font-size: 18px;
      line-height: 22px; }
  /* line 111, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .panel h3 {
    margin-top: 0;
    margin-bottom: 75px;
    color: #fff;
    text-align: center; }
  /* line 117, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .panel form {
    width: 100%;
    color: #fff; }
    @media (min-width: 768px) and (max-width: 913px) {
      /* line 117, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .panel form {
        width: 75%;
        display: table;
        margin: 0 auto; } }
    /* line 125, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-left {
      width: 50%;
      float: left; }
      @media (max-width: 913px) {
        /* line 125, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-left {
          width: 100%; } }
    /* line 132, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-right {
      width: 50%;
      float: right; }
      @media (max-width: 913px) {
        /* line 132, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-right {
          width: 100%; } }
    /* line 139, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row {
      min-height: 310px; }
    /* line 142, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.form {
      min-height: 0; }
      /* line 144, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .panel form .row.form textarea {
        max-width: 100%;
        max-height: 250px; }
    /* line 149, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.form.captcha {
      padding-left: 25%; }
      @media (max-width: 768px) {
        /* line 149, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row.form.captcha {
          padding-left: 0; } }
    /* line 155, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.checkbox {
      margin: 0 0 8px 0;
      float: left;
      width: 100%; }
    /* line 160, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form input[type="checkbox"] {
      float: left; }
    /* line 163, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.no-label, .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
      margin-left: 25%;
      margin-top: 10px; }
      @media (max-width: 768px) {
        /* line 163, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row.no-label, .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
          margin-left: 0; } }
    /* line 170, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row > label {
      width: 25%; }
      @media (max-width: 768px) {
        /* line 170, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > label {
          width: 75%;
          margin-bottom: 5px;
          text-align: left; } }
    /* line 178, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
      width: 400px; }
      @media (max-width: 1277px) {
        /* line 178, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
          width: 70%; } }
      @media (max-width: 768px) {
        /* line 178, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
          width: 100%; } }
    /* line 187, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form #other {
      width: 332px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        /* line 187, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form #other {
          width: 100%; } }
    /* line 194, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
      margin-top: 80px;
      margin-left: calc(50% - 32px);
      width: 100px; }
      @media (max-width: 768px) {
        /* line 194, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
          margin-top: 40px; } }
    /* line 202, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .g-recaptcha {
      transform: scale(1.325);
      transform-origin: 0 0; }
      @media (max-width: 1277px) {
        /* line 202, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .g-recaptcha {
          width: 304px;
          margin: 50px auto 0;
          padding-right: 20px;
          transform: scale(1);
          transform-origin: center; } }
    /* line 217, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .italicLabel {
      font-style: italic; }
    /* line 220, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .main-menu {
      position: relative;
      display: inline-block; }

/* line 228, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.middle {
  padding: 0;
  margin-top: -30px; }
  /* line 231, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.middle .quote {
    border: none;
    text-align: center;
    margin: 100px auto 70px; }
    @media (max-width: 768px) {
      /* line 231, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.middle .quote {
        width: 80%; } }
    /* line 238, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.middle .quote .quote_marks {
      font-size: 70px;
      color: #ed0677; }
      @media (max-width: 768px) {
        /* line 238, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.middle .quote .quote_marks {
          font-size: 50px;
          line-height: 30px; } }
    /* line 246, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.middle .quote h2 {
      display: inline; }
      @media (max-width: 992px) {
        /* line 246, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.middle .quote h2 {
          font-size: 32px;
          line-height: 45px; } }
  /* line 254, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.middle .text {
    background-color: #2b93d1;
    padding: 35px 12.5%;
    margin-top: 40px;
    color: #fff; }
    /* line 259, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.middle .text p {
      margin: 0; }

/* line 264, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.bottom {
  margin-top: 40px; }
  /* line 266, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.bottom .title {
    width: 75%; }
  /* line 269, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.bottom .row {
    margin: 25px 0;
    width: 100%;
    float: left; }
    /* line 273, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
      float: left;
      width: 66%;
      padding: 0 20px;
      margin-bottom: 22px; }
      @media (max-width: 768px) {
        /* line 273, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
          width: 75%;
          margin: 0 auto 22px;
          display: table;
          float: none; } }
      @media (max-width: 480px) {
        /* line 273, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
          width: 100%; } }
      /* line 287, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long h2 {
        margin-top: 0; }
    /* line 291, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.one h2 {
      color: #a6ce39; }
    /* line 294, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.one hr {
      border-color: #a6ce39; }
    /* line 297, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.two h2 {
      color: #ed0677; }
    /* line 300, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.two hr {
      border-color: #ed0677; }
    /* line 303, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.three h2 {
      color: #a51d4d; }
    /* line 306, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.three hr {
      border-color: #a51d4d; }
    /* line 309, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.four h2 {
      color: #2b93d1; }
    /* line 312, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.four hr {
      border-color: #2b93d1; }
    @media (max-width: 768px) {
      /* line 315, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.bottom .row .tile {
        width: 75%;
        padding: 0;
        margin: 0 auto 22px;
        display: table;
        float: none; } }
    /* line 324, /Users/abr65/Documents/Development/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row .tile .tile-link:hover {
      cursor: default; }

/*# sourceMappingURL=profiles.css.map */