@import 'mixin.scss';

/*
-----------------------------------------
 > Profile Page <
-----------------------------------------
*/

.rc-anchor-normal{
    width: 100% !important;
}

.polaris-wrapper.profile {
    @include tablet {
      .title {
        width: 85%;
      }
    }

    .tile-container.top {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        float: left;
        width: 60%;
        @include tablet {
            padding: 0;
            margin-top: 0;
        }
        .tile.small.apply {
            width: 25%;
            margin-left: 8%;
            margin-right: 0;
            @include tablet {
                width: 50%;
                margin: 0 auto;
                float: none;
                display: table;
            }
            @include mobile {
                width: 65%;
            }
            .tile-media {
                padding-bottom: 0;
                span {
                    font-size: 100px;
                    margin: 40px auto 0;
                    color: #fff;
                    display: table;
                    transition: all .6s ease;
                }
            }
            .tile-content {
                padding-bottom: 82px;
                .tile-title {
                    color: #fff;
                    text-align: center;
                    transition: all .6s ease;
                }
            }
            .tile-bg {
                background-color: #2b93d1;
                transition: all .6s ease;
            }
            .tile-link:hover {
                .tile-bg {
                    background-color: #1A90D8;
                    transition: all .6s ease;
                }
                .tile-media span {
                    transition: all .6s ease;
                }
            }
        }

        .description.small-long {
            width: 96%;
            float: left;
            margin-right: 1.31669%;
            margin-left: -1px;
            padding: 30px 30px 30px 15%;
            border: none;
            background-color: #a51d4d;
            color: #fff;
            @include tablet {
                width: 100%;
                margin-left: 0;
                margin-bottom: 8%;
            }
            h2 {
                margin: 5px 0 10px;
            }
            p {
                margin: 35px 0 10px;
                font-size: 18px;
                line-height: 22px;
            }
        }

        .panel {
            h3 {
                margin-top: 0;
                margin-bottom: 75px;
                color: #fff;
                text-align: center;
            }
            form {
                width: 100%;
                color: #fff;
                @media (min-width: 768px) and (max-width: 913px) {
                    width: 75%;
                    display: table;
                    margin: 0 auto;
                }
                .form-left {
                    width: 50%;
                    float: left;
                    @media (max-width: 913px) {
                        width: 100%;
                    }
                }
                .form-right {
                    width: 50%;
                    float: right;
                    @media (max-width: 913px) {
                        width: 100%;
                    }
                }
                .row {
                    min-height: 310px;
                }
                .row.form {
                    min-height: 0;
                    textarea {
                        max-width: 100%;
                        max-height: 250px;
                    }
                }
                .row.form.captcha {
                    padding-left: 25%;
                    @include tablet {
                        padding-left: 0;
                    }
                }
                .row.checkbox {
                    margin: 0 0 8px 0;
                    float: left;
                    width: 100%;
                }
                input[type="checkbox"] {
                    float: left;
                }
                .row.no-label, .form-submit {
                    margin-left: 25%;
                    margin-top: 10px;
                    @include tablet {
                        margin-left: 0;
                    }
                }
                .row > label  {
                    width: 25%;
                    @include tablet {
                        width: 75%;
                        margin-bottom: 5px;
                        text-align: left;
                    }
                }
                .row > input[type="text"], .row > input[type="email"], .row > textarea {
                    width: 400px;
                    @media (max-width: 1277px) {
                        width: 70%;
                    }
                    @include tablet {
                        width: 100%;
                    }
                }
                #other {
                    width: 332px;
                    margin-bottom: 20px;
                    @include tablet {
                        width: 100%;
                    }
                }
                .form-submit {
                    margin-top: 80px;
                    margin-left: calc(50% - 32px);
                    width: 100px;
                    @include tablet {
                        margin-top: 40px;
                    }
                }
                .g-recaptcha {
                    transform: scale(1.325);
                    transform-origin: 0 0;
                    @media (max-width: 1277px) {
                        width: 304px;
                        margin: 50px auto 0;
                        padding-right: 20px;
                        transform: scale(1);
                        transform-origin: center;
                    }
                    @include tablet {


                    }
                }
                .italicLabel {
                    font-style: italic;
                }
                .main-menu {
                    position: relative;
                    display: inline-block;
                }
            }
        }
    }

    .profile-container.top {
    	position: relative;
    	width: 30%;
		float: right;
		margin-right: 6%;
		margin-left: 4%;
		background-color: #EEE;
		.profile-image {
			display: block;
			margin: 20px auto 0;
		}
		.profile-info-container {
			margin: 10px 0 0;
			padding: 20px;
			.profile-info {
				width: 100%;
				margin: auto;
				tr td:nth-child(1) {
					text-align: right;
					padding-right: 5px;
				}
				tr td:nth-child(2) {
					text-align: left;
					padding-left: 5px;
				}
			}
		}
    }

    .tile-container.middle {
        padding: 0;
        margin-top: -30px;
        .quote {
            border: none;
            text-align: center;
            margin: 100px auto 70px;
            @include tablet {
                width: 80%;
            }
            .quote_marks {
                font-size: 70px;
                color: #ed0677;
                @include tablet {
                    font-size: 50px;
                    line-height: 30px;
                }
            }
            h2 {
                display: inline;
                @media (max-width: 992px) {
                    font-size: 32px;
                    line-height: 45px;
                }
            }
        }
        .text {
            background-color: #2b93d1;
            padding: 35px 12.5%;
            margin-top: 40px;
            color: #fff;
            p {
              margin: 0;
            }
        }
    }
    .tile-container.bottom {
        margin-top: 40px;
        width: 60%;
        float: left;
        padding: 0;
        clear: none;
        .title {
            width: 75%;
        }
        .row {
            margin: 25px 0;
            width: 100%;
            float: left;
            .description.small-long {
                float:left;
                width: 100%;
                padding: 0 20px;
                margin-bottom: 22px;
                @include tablet {
                    width: 75%;
                    margin: 0 auto 22px;
                    display: table;
                    float: none;
                }
                @include mobile {
                    width: 100%;
                }
                h2 {
                    margin-top: 0;
                }
            }
            &.one h2 {
                color: #a6ce39;
            }
            &.one hr {
                border-color: #a6ce39;
            }
            &.two h2 {
                color: #ed0677;
            }
            &.two hr {
                border-color: #ed0677;
            }
            &.three h2 {
                color: #a51d4d;
            }
            &.three hr {
                border-color: #a51d4d;
            }
            &.four h2 {
                color: #2b93d1;
            }
            &.four hr {
                border-color: #2b93d1;
            }
            .tile {
                @include tablet {
                    width: 75%;
                    padding: 0;
                    margin: 0 auto 22px;
                    display: table;
                    float: none;
                }
            }
            .tile .tile-link:hover {
                cursor: default;
            }
        }
    }
}
