/*
-----------------------------------------
 > Mixins <
-----------------------------------------
*/
/*
-----------------------------------------
 > Profiles Page <
-----------------------------------------
*/
/* line 9, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
.rc-anchor-normal {
  width: 100% !important; }

@media (max-width: 768px) {
  /* line 15, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .title {
    width: 85%; } }

/* line 19, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .hero-wrapper {
  background-image: url(/images/assets/womenintech.png);
  background-size: cover;
  background-position: 0 -215px;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    /* line 19, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .hero-wrapper {
      background-position: 0 -200px; } }
  @media (max-width: 480px) {
    /* line 19, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .hero-wrapper {
      background-position: 0 -100px; } }

/* line 32, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.top {
  padding-left: 0;
  padding-right: 9.5%;
  margin-top: -40px; }
  @media (max-width: 768px) {
    /* line 32, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top {
      padding: 0;
      margin-top: 0; } }
  /* line 40, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
    width: 25%;
    margin-left: 8%;
    margin-top: 24px;
    margin-right: 0; }
    @media (max-width: 768px) {
      /* line 40, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
        width: 50%;
        margin: 0 auto;
        float: none;
        display: table; } }
    @media (max-width: 480px) {
      /* line 40, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply {
        width: 65%; } }
    /* line 54, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-media {
      padding-bottom: 0; }
      /* line 56, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-media span {
        font-size: 100px;
        margin: 40px auto 0;
        color: #fff;
        display: table;
        transition: all 0.6s ease; }
    /* line 64, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-content {
      padding-bottom: 82px; }
      /* line 66, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-content .tile-title {
        color: #fff;
        text-align: center;
        transition: all 0.6s ease; }
    /* line 72, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-bg {
      background-color: #0076be;
      transition: all 0.6s ease; }
    /* line 77, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-link:hover .tile-bg {
      background-color: #1A90D8;
      transition: all 0.6s ease; }
    /* line 81, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .tile.small.apply .tile-link:hover .tile-media span {
      transition: all 0.6s ease; }
  /* line 87, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .description.small-long {
    width: 96%;
    float: left;
    margin-right: 1.31669%;
    margin-left: -1px;
    padding: 30px 30px 30px 15%;
    border: none;
    background-color: #a51d4d;
    color: #fff; }
    @media (max-width: 768px) {
      /* line 87, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .description.small-long {
        width: 100%;
        margin-left: 0;
        margin-bottom: 8%; } }
    /* line 101, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .description.small-long h2 {
      margin: 5px 0 10px; }
    /* line 104, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .description.small-long p {
      margin: 35px 0 10px;
      font-size: 18px;
      line-height: 22px; }
  /* line 112, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .panel h3 {
    margin-top: 0;
    margin-bottom: 75px;
    color: #fff;
    text-align: center; }
  /* line 118, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.top .panel form {
    width: 100%;
    color: #fff; }
    @media (min-width: 768px) and (max-width: 913px) {
      /* line 118, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .panel form {
        width: 75%;
        display: table;
        margin: 0 auto; } }
    /* line 126, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-left {
      width: 50%;
      float: left; }
      @media (max-width: 913px) {
        /* line 126, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-left {
          width: 100%; } }
    /* line 133, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-right {
      width: 50%;
      float: right; }
      @media (max-width: 913px) {
        /* line 133, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-right {
          width: 100%; } }
    /* line 140, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row {
      min-height: 310px; }
    /* line 143, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.form {
      min-height: 0; }
      /* line 145, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.top .panel form .row.form textarea {
        max-width: 100%;
        max-height: 250px; }
    /* line 150, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.form.captcha {
      padding-left: 25%; }
      @media (max-width: 768px) {
        /* line 150, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row.form.captcha {
          padding-left: 0; } }
    /* line 156, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.checkbox {
      margin: 0 0 8px 0;
      float: left;
      width: 100%; }
    /* line 161, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form input[type="checkbox"] {
      float: left; }
    /* line 164, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row.no-label, .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
      margin-left: 25%;
      margin-top: 10px; }
      @media (max-width: 768px) {
        /* line 164, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row.no-label, .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
          margin-left: 0; } }
    /* line 171, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row > label {
      width: 25%; }
      @media (max-width: 768px) {
        /* line 171, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > label {
          width: 75%;
          margin-bottom: 5px;
          text-align: left; } }
    /* line 179, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
      width: 400px; }
      @media (max-width: 1277px) {
        /* line 179, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
          width: 70%; } }
      @media (max-width: 768px) {
        /* line 179, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="text"], .polaris-wrapper.profiles .tile-container.top .panel form .row > input[type="email"], .polaris-wrapper.profiles .tile-container.top .panel form .row > textarea {
          width: 100%; } }
    /* line 188, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form #other {
      width: 332px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        /* line 188, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form #other {
          width: 100%; } }
    /* line 195, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
      margin-top: 80px;
      margin-left: calc(50% - 32px);
      width: 100px; }
      @media (max-width: 768px) {
        /* line 195, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .form-submit {
          margin-top: 40px; } }
    /* line 203, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .g-recaptcha {
      transform: scale(1.325);
      transform-origin: 0 0; }
      @media (max-width: 1277px) {
        /* line 203, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.top .panel form .g-recaptcha {
          width: 304px;
          margin: 50px auto 0;
          padding-right: 20px;
          transform: scale(1);
          transform-origin: center; } }
    /* line 218, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .italicLabel {
      font-style: italic; }
    /* line 221, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.top .panel form .main-menu {
      position: relative;
      display: inline-block; }

/* line 229, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.middle {
  padding: 48px 0 0;
  margin-top: -30px; }
  /* line 232, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.middle .tile-container {
    margin-top: 0; }

/* line 236, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
.polaris-wrapper.profiles .tile-container.bottom {
  margin-top: 40px; }
  /* line 238, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.bottom .title {
    width: 75%; }
  /* line 241, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
  .polaris-wrapper.profiles .tile-container.bottom .row {
    margin: 25px 0;
    width: 100%;
    float: left; }
    /* line 245, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
      float: left;
      width: 66%;
      padding: 0 20px;
      margin-bottom: 22px; }
      @media (max-width: 768px) {
        /* line 245, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
          width: 75%;
          margin: 0 auto 22px;
          display: table;
          float: none; } }
      @media (max-width: 480px) {
        /* line 245, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
        .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long {
          width: 100%; } }
      /* line 259, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.bottom .row .description.small-long h2 {
        margin-top: 0; }
    /* line 263, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.one h2 {
      color: #a6ce39; }
    /* line 266, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.one hr {
      border-color: #a6ce39; }
    /* line 269, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.two h2 {
      color: #ed0677; }
    /* line 272, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.two hr {
      border-color: #ed0677; }
    /* line 275, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.three h2 {
      color: #a51d4d; }
    /* line 278, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.three hr {
      border-color: #a51d4d; }
    /* line 281, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.four h2 {
      color: #2b93d1; }
    /* line 284, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row.four hr {
      border-color: #2b93d1; }
    @media (max-width: 768px) {
      /* line 287, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
      .polaris-wrapper.profiles .tile-container.bottom .row .tile {
        width: 75%;
        padding: 0;
        margin: 0 auto 22px;
        display: table;
        float: none; } }
    /* line 296, /Users/abr65/Documents/Development/Academy/AlfieBrooks.github.io/css/profiles.scss */
    .polaris-wrapper.profiles .tile-container.bottom .row .tile .tile-link:hover {
      cursor: default; }

/*# sourceMappingURL=profiles.css.map */