---
title: Course1
---
{% include head.html %}
<!DOCTYPE html>
<html>
    <head>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
        <script>
          $(function() {
            $( "#accordion" ).accordion();
        });
          </script>
        <meta charset="UTF-8">
        <title>Sky Developers</title>
    </head>

    <body>
        <div class="polaris-wrapper profiles">
            <section class="hero-container">
                <div class="hero-wrapper"></div>
            </section>

            <section class="tile-container top">
                <div class="description small-long">
                    <h2>Course 1</h2>
                    <hr>
                    <p>As part of one of our high performance delivery teams you’ll leverage cutting edge technology to build systems at scale and drive Sky forward, if this is a challenge that you feel equipped to meet then send us your details via the 'Apply Now' link to the right.</p>
                </div>
            <div class="tile-container">
                <div id="accordion" class="accordion">
                  <h3>Key Information</h3>
                  <div>
                    <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                  </div>
                  <h3>Something else?</h3>
                  <div>
                    <p>
                    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                    suscipit faucibus urna.
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                  </div>
                  <h3>Modules</h3>
                  <div>
                    <ul>
                      <li>List item one</li>
                      <li>List item two</li>
                      <li>List item three</li>
                      <li>List item one</li>
                      <li>List item two</li>
                      <li>List item three</li>
                      <li>List item one</li>
                      <li>List item two</li>
                      <li>List item three</li>
                    </ul>
                  </div>
                  <h3>Contact Information</h3>
                  <div>
                    <p>
                    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                    mauris vel est.
                    </p>
                    <p>
                    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.
                    </p>
                  </div>
                </div>

                <div id="form">
                    <div class="tile small form" id="tileImg-1">
                        <div class="tile-inner">
                            <form>
                                <h3>Register Your Interest</h3>
                              First name:<br>
                              <input type="text" name="firstname">
                              <br>
                              Last name:<br>
                              <input type="text" name="lastname">
                              <br>
                              Email:<br>
                              <input type="text" name="email">
                              <br>
                              Message:<br>
                              <textarea name="message"></textarea>
                            </form>
                        </div>
                        <section>
                            <div class="shine top"></div>
                            <div class="shine bottom"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
