---
title: Course1
---
{% include head.html %}
<!DOCTYPE html>
<html>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
        $(function() {
            $( "#accordion" ).accordion();
        });
    </script>
    <meta charset="UTF-8">
    <title>Sky Developers</title>
</head>

<body>
<div class="polaris-wrapper profiles">
    <section class="hero-container">
        <div class="hero-wrapper"></div>
    </section>

    <section class="tile-container top">
        <div class="description small-long">
            <h2>Course 1</h2>
            <hr>
            <p>Our 14 week evening course is designed for those who would like to learn more flexibly in their own time.</p>
        </div>
        <div class="tile-container">
            <div id="accordion" class="accordion">
                <h3>Key Information <i class="fa fa-chevron-down"></i></h3>
                <div>
                    <h6>Start dates: 18th April 2016 Osterley (London),  1st May 2016 Leeds</h6>
                    <p>On this course you’ll learn the basics of Software Development using modern web technologies.</p>
                    <p>For the first week you’ll study full time at the Sky Campus in your chosen location (London or Leeds).  You’ll then come into the Sky Campus on one evening each week, and will also have a remote lesson via Skype once a week.  You’ll also need to do a few hours of work each week on your own between lessons.</p>
                    <p>By the end of this course you should have a strong understanding of the basics of modern Web Development, and will have developed some small case study projects of your own.  You should be equipped with the skills you need to start developing web applications from scratch.</p>
                    <p>The course is designed to give you enough technical skills to pass one of our entry level Assessment Centres, and to apply for a Software Developer role with us if you want to.</p>
                    </p>
                </div>
                <h3>Modules <i class="fa fa-chevron-down"></i></h3>
                <div>

                    <h6>On this course you’ll learn the basics of web development, covering topics such as:</h6>

                    <ul>
                        <li>The Internet & Its Technologies</li>
                        <li>Object Oriented Programming</li>
                        <li>Databases</li>
                        <li>Security</li>
                        <li>HTML & CSS</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <h3>Important Dates<i class="fa fa-chevron-down"></i></h3>
                <div>
                    <p>The first evening courses start 18th April 2016 in London, 1st May 2016 in Leeds</p>
                </div>
                <h3>Contact Information <i class="fa fa-chevron-down"></i></h3>
                <div>
                    <p>
                    </p>
                </div>
            </div>

            <div id="form">
                <div class="tile small form" id="tileImg-1">
                    <div class="tile-inner">
                        <form class="sky-form">
                            <h3>Register Your Interest</h3>
                            First name:<br>
                            <input type="text" name="firstname">
                            <br>
                            Last name:<br>
                            <input type="text" name="lastname">
                            <br>
                            Email:<br>
                            <input type="text" name="email">
                            <br>
                            Message:<br>
                            <textarea name="message"></textarea>
                            <button class="btn-default" type="submit">Send</button>
                        </form>
                    </div>
                    <section>
                        <div class="shine top"></div>
                        <div class="shine bottom"></div>
                    </section>
                </div>
            </div>
        </div>
</div>
{% include footer.html %}
</body>
</html>
