---
title: FAQ
---
{% include head.html %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body data-spy="scroll" data-target="#faq-navigation">
<div class="polaris-wrapper faq">

    <section class="tile-container top">
        <div class="description small-long">
            <h2>Frequently Asked Questions</h2>
            <hr>
        </div>
    </section>

    <section class="profile-container top">
        <div class="profile-info-container">
            <div role="navigation" id="faq-navigation">
                <ul class="faq-question-list nav nav-stacked" role="tablist">
                    <li><a href="#why-only-women">Why is this course for women only?</a></li>
                    <li><a href="#exists-for-men">Is there an equivalent for men?</a></li>
                    <li><a href="#what-will-i-learn">What will I learn on the course?</a></li>
                    <li><a href="#cost">How much will it cost me?</a></li>
                    <li><a href="#expenses">Can Sky help cover expenses?</a></li>
                    <li><a href="#certificate-qualification">Will I get a certificate/qualification at the end of the course?</a></li>
                    <li><a href="#job-offer">Will I get a job at the end of the course?</a></li>
                    <li><a href="#equipment">Will I need my own computer to do the course?</a></li>
                    <li><a href="#remote-studying">Can I study remotely/part time?</a></li>
                    <li><a href="#previous-experience">Do I need any previous experience or qualifications in order to get a place on the course?</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="tile-container bottom">
        <div class="row one" id="why-only-women">
            <div class="description small-long">
                <h2>Why is this course for women only?</h2>
                <hr>
                <p>There is a well documented gender diversity problem in the technology industry.  Sky recognises that a diverse workforce brings benefits in terms of both the quality of output and the wellbeing of employees.  Increasing gender diversity in technology would therefore be valuable for employers and employees alike.</p>
                <p>In order to achieve greater gender diversity we need more women in the pool of talent we’re able to recruit from.  We always recruit the top people available for the job, and with the Women in Technology Academy we aim to help and encourage more women to gain the skills they need to fit into this category.</p>
                <p>The fact that these courses are for women only is a reflection of this specific aim of getting more women in the industry.  The idea is not to exclude men, but to include more women in an industry where they are currently massively underrepresented.</p>
                <p>We hope that, in a few years, targeted initiatives such as this one will no longer be necessary, and that the culture in and surrounding the technology will have adapted to be naturally more diverse and inclusive.  In the meantime, we hope that initiatives such as the Sky Women in Technology Academy will help to accelerate this cultural change.</p>
            </div>
        </div>
        <div class="row two" id="exists-for-men">
            <div class="description small-long">
                <h2>Is there an equivalent for men?</h2>
                <hr>
                <p>Currently we don’t offer a beginner level course for men or mixed groups.  However, there are many free courses available elsewhere and online open to anyone interested in starting out in technology.  If you already have experience in technology and are interested in working for Sky, please have a look at the opportunities available on Work For Sky [http://www.workforsky.com/]</p>
            </div>
        </div>
        <div class="row one" id="what-will-i-learn">
            <div class="description small-long">
                <h2>What will I learn on the course?</h2>
                <hr>
                <p>Each of the courses will cover a slightly different range of topics, as on the full time course we can cover more than on the part time and evening courses.  On all courses you’ll learn the basics of Software Development using modern web technologies.  See the Course pages for more info [link]</p>
            </div>
        </div>
        <div class="row two" id="cost">
            <div class="description small-long">
                <h2>How much will it cost me?</h2>
                <hr>
                <p>All of the courses in Women in Technology Academy are free for participants.</p>
            </div>
        </div>
        <div class="row three" id="expenses">
            <div class="description small-long">
                <h2>Can Sky help cover expenses?</h2>
                <hr>
                <p>No, participants will need to cover their own travel, food, accommodation and personal expenses.</p>
            </div>
        </div>
        <div class="row four" id="certificate-qualification">
            <div class="description small-long">
                <h2>Will I get a certificate/qualification at the end of the course?</h2>
                <hr>
                <p>No, there will be no formal certificate or qualification given as part of this course.  However, you will finish the course with industry relevant knowledge and experience, and the beginnings of a portfolio of Software projects, which should help you on your way to becoming a professional Software Developer if you wish to pursue this as a career.</p>
            </div>
        </div>
        <div class="row one" id="job-offer">
            <div class="description small-long">
                <h2>Will I get a job at the end of the course?</h2>
                <hr>
                <p>This is not a job application process, so no jobs will automatically be offered at the end of the course.  However, we hope that the courses will equip participants with the skills they need to pass one of our entry level Assessment Centres, and participants will be welcome to apply for a job at Sky after completing the course if they wish to.</p>
            </div>
        </div>
        <div class="row three" id="equipment">
            <div class="description small-long">
                <h2>Will I need my own computer to do the course?</h2>
                <hr>
                <p>No - Sky will provide each participant with a laptop to use for the duration of the course.</p>
            </div>
        </div>
        <div class="row four" id="remote-studying">
            <div class="description small-long">
                <h2>Can I study remotely/part time?</h2>
                <hr>
                <p>We have three options to allow you to choose the schedule most suited to your lifestyle.  Have a look at the Course pages [link] to see which option would suit you best.</p>
            </div>
        </div>
        <div class="row one" id="previous-experience">
            <div class="description small-long">
                <h2>Do I need any previous experience or qualifications in order to get a place on the course?</h2>
                <hr>
                <p>No - all we look for is passion, potential and aptitude, no experience necessary!</p>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}
</body>
</html>
