---
title: Work For Us
---
{% include head.html %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sky Developers</title>
    </head>

    <body data-spy="scroll" data-target=".faq-question-list" data-offset="0">
        <div class="polaris-wrapper faq">
            
            <section class="tile-container top">
                <div class="description small-long">
                    <h2>About the Sky Women in Technology Academy</h2>
                    <hr>
                    <p>The Sky Women in Technology Academy aims to provide a unique and supportive environment in which women with little or no previous technical experience can learn some of the skills necessary to begin a career in Software Development.  Sky recognises the significant lack of gender diversity in the technology industry, and we believe that encouraging capable, talented women into technical roles can bring enormous benefits, both to the women themselves, and also to the teams and companies they end up working with.  By introducing more women into the pool of talent we are able to recruit from, we hope to see increased diversity in the top engineering talent we end up recruiting.</p>
                    <p>The Academy provides beginner level training courses which aim to give people the skills necessary to apply for entry level jobs in Software Engineering.  By the end of one of our courses you will be equipped with the technical skills you need to start building websites and applications, have an understanding and some experience of Agile ways of working in software engineering, and you will have built your very own original software project as part of a team.  We hope you will leave the Academy inspired and empowered, and in a strong position to apply for Junior Software Developer roles should you wish to.</p>
                </div>
            </section>

            <section class="profile-container top">
                <div class="profile-info-container">
                    <nav role="navigation" id="faq-navigation"><ul class="faq-question-list nav nav-stacked">
                        <li><a href="#why-only-women">Why is this course for women only?</a></li>
                        <li><a href="#exists-for-men">Is there an equivalent for men?</a></li>
                        <li><a href="#help-as-a-man">I’m a man and interested in helping encourage more women into technology roles - how can I get involved?</a></li>
                        <li><a href="#help-as-a-woman">I’m a woman already in a technology role and I’d like to contribute - how can I get involved?</a></li>
                        <li><a href="#what-will-i-learn">What will I learn on the course?</a></li>
                        <li><a href="#cost">How much will it cost me?</a></li>
                        <li><a href="#expenses">Can Sky help cover expenses?</a></li>
                        <li><a href="#certificate-qualification">Will I get a certificate/qualification at the end of the course?</a></li>
                        <li><a href="#job-offer">Will I get a job at the end of the course?</a></li>
                        <li><a href="#childcare">Can Sky help with childcare while I’m on the course?</a></li>
                        <li><a href="#equipment">Will I need my own computer to do the course?</a></li>
                        <li><a href="#remote-studying">Can I study remotely/part time?</a></li>
                        <li><a href="#previous-experience">Do I need any previous experience or qualifications in order to get a place on the course?</a></li>
                    </ul></nav>
                </div>
            </section>

            <section class="tile-container bottom">
                <div class="row one" id="why-only-women">
                    <div class="description small-long">
                        <h2>Why is this course for women only?</h2>
                        <hr>
                        <p>There is a well documented gender diversity problem in the technology industry (link?).  Sky recognises that a diverse workforce brings benefits in terms of both the quality of output and the wellbeing of employees (definitely need links for these claims?!).  We therefore believe that increasing gender diversity in technology is a valuable aim.</p>
                        <p>//so in order to do this we bring more women into pool we can recruit from. this way we keep our recruitment policy the same: we recruit the top people available for the job.  just helping get more women into this category.</p>
                    </div>
                </div>
                <div class="row two" id="exists-for-men">
                    <div class="description small-long">
                        <h2>Is there an equivalent for men?</h2>
                        <hr>
                        <p>Currently we don’t offer a beginner level course for men or mixed groups.  However, there are many free courses available elsewhere open to anyone interested in starting out in technology (links).  If you already have experience in technology and are interested in working for Sky, please have a look at the opportunities available on Work For Sky (link).</p>
                    </div>
                </div>
                <div class="row three" id="help-as-a-man">
                    <div class="description small-long">
                        <h2>I’m a man and interested in helping encourage more women into technology roles - how can I get involved?</h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="row four" id="help-as-a-woman">
                    <div class="description small-long">
                        <h2>I’m a woman already in a technology role and I’d like to contribute - how can I get involved?</h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="row one" id="what-will-i-learn">
                    <div class="description small-long">
                        <h2>What will I learn on the course?</h2>
                        <hr>
                        <p>//not too much jargon</p>
                    </div>
                </div>
                <div class="row two" id="cost">
                    <div class="description small-long">
                        <h2>How much will it cost me?</h2>
                        <hr>
                        <p>All of the courses in Women in Technology Academy are free for participants</p>
                    </div>
                </div>
                <div class="row three" id="expenses">
                    <div class="description small-long">
                        <h2>Can Sky help cover expenses?</h2>
                        <hr>
                        <p>//no</p>
                    </div>
                </div>
                <div class="row four" id="certificate-qualification">
                    <div class="description small-long">
                        <h2>Will I get a certificate/qualification at the end of the course?</h2>
                        <hr>
                        <p>//no</p>
                    </div>
                </div>
                <div class="row one" id="job-offer">
                    <div class="description small-long">
                        <h2>Will I get a job at the end of the course?</h2>
                        <hr>
                        <p>//not necessarily</p>
                    </div>
                </div>
                <div class="row two" id="childcare">
                    <div class="description small-long">
                        <h2>Can Sky help with childcare while I’m on the course?</h2>
                        <hr>
                        <p>//creche??</p>
                    </div>
                </div>
                <div class="row three" id="equipment">
                    <div class="description small-long">
                        <h2>Will I need my own computer to do the course?</h2>
                        <hr>
                        <p>//loan laptops</p>
                    </div>
                </div>
                <div class="row four" id="remote-studying">
                    <div class="description small-long">
                        <h2>Can I study remotely/part time?</h2>
                        <hr>
                        <p>//yes</p>
                    </div>
                </div>
                <div class="row one" id="previous-experience">
                    <div class="description small-long">
                        <h2>Do I need any previous experience or qualifications in order to get a place on the course?</h2>
                        <hr>
                        <p>//no</p>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){

                if(window.outerWidth <= 768) {
                    $('#tileImg-1').appendTo('#row-1');
                    $('#tileImg-2').appendTo('#row-3');
                }

                $(window).on("resize", function(event) {
                    if(window.outerWidth <= 768) {
                        $('#tileImg-1').appendTo('#row-1');
                        $('#tileImg-2').appendTo('#row-3');
                    } else {
                        $('#tileImg-1').prependTo('#row-1');
                        $('#tileImg-2').prependTo('#row-3');
                    }
                });
            });
        </script>
        {% include footer.html %}
    </body>
</html>
