---
title: Sky - Women In Tech
---
{% include head.html %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sky Developers</title>
    </head>

    <body>
        <div class="polaris-wrapper profiles">
            <section class="hero-container">
                <div class="hero-wrapper"></div>
            </section>
            <section class="tile-container top">
                <div class="description small-long">
                    <h2>Women In Technology Academy</h2>
                    <hr>
                    <p>As part of one of our high performance delivery teams you’ll leverage cutting edge technology to build systems at scale and drive Sky forward, if this is a challenge that you feel equipped to meet then apply now!</p>
                </div>
            </section>
            <div class="tile-container text">
                <h2 class="title">About the academy</h2>
                <p>Donec et ex feugiat, interdum ante vitae, sollicitudin ipsum. Praesent semper massa vel consequat tincidunt. Sed eget mi non arcu volutpat pulvinar a sit amet lectus. Pellentesque tristique convallis ligula, nec hendrerit velit semper et. Donec pellentesque, est cursus interdum iaculis, mauris metus iaculis metus, sit amet efficitur massa sapien non nibh. Donec sit amet molestie tellus. Sed sit amet ornare nisi. In pulvinar vestibulum ipsum sit amet tristique. Morbi dolor lacus, scelerisque sed fermentum nec, aliquet eu leo. Donec sollicitudin mi vel mi dignissim, ut fermentum urna faucibus. Etiam et vestibulum ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque bibendum iaculis venenatis. Pellentesque vitae iaculis quam.</p>
                <p>Donec et ex feugiat, interdum ante vitae, sollicitudin ipsum. Praesent semper massa vel consequat tincidunt. Sed eget mi non arcu volutpat pulvinar a sit amet lectus. Pellentesque tristique convallis ligula, nec hendrerit velit semper et. Donec pellentesque, est cursus interdum iaculis, mauris metus iaculis metus, sit amet efficitur massa sapien non nibh. Donec sit amet molestie tellus. Sed sit amet ornare nisi. In pulvinar vestibulum ipsum sit amet tristique. Morbi dolor lacus, scelerisque sed fermentum nec, aliquet eu leo. Donec sollicitudin mi vel mi dignissim, ut fermentum urna faucibus. Etiam et vestibulum ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque bibendum iaculis venenatis. Pellentesque vitae iaculis quam.</p>

            </div>
            <section class="tile-container middle">
                <h2 class="title">Our Courses</h2>
                <div class="tile-container">
                    <div class="tile medium" id="tile-1">
                        <div class="tile-inner">
                            <a class="tile-link" href="/courses/">
                                <div class="tile-bg"></div>
                                <div class="tile-media">
                                    <img class="tile-media-bg" src="/images/assets/opensource.jpg" alt="Course 1">
                                </div>
                                <div class="tile-content">
                                    <div class="tile-content-inner">
                                        <h2 class="tile-title">Course 1</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <section>
                            <div class="shine top"></div>
                            <div class="shine bottom"></div>
                        </section>
                    </div>
                    <div class="tile medium" id="tile-2">
                        <div class="tile-inner">
                            <a class="tile-link" href="/courses/">
                                <div class="tile-bg"></div>
                                <div class="tile-media">
                                    <img class="tile-media-bg" src="/images/assets/people.jpeg" alt="Course 2">
                                </div>
                                <div class="tile-content">
                                    <div class="tile-content-inner">
                                        <h2 class="tile-title">Course 2</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <section>
                            <div class="shine top"></div>
                            <div class="shine bottom"></div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
        {% include footer.html %}
    </body>
</html>
