---
title: Sky - Women In Tech
---
{% include head.html %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sky Developers</title>
    </head>

    <body>
        <div class="polaris-wrapper profiles">
            <section class="hero-container">
                <div class="hero-wrapper"></div>
            </section>
            <section class="tile-container top">
                <div class="description small-long">
                    <h2>Women In Technology Academy</h2>
                    <hr>
                    <p>As part of one of our high performance delivery teams you’ll leverage cutting edge technology to build systems at scale and drive Sky forward, if this is a challenge that you feel equipped to meet then apply now!</p>
                </div>
            </section>
            <section class="tile-container middle">
                <h2 class="title">Our Courses</h2>
                <div class="tile-container">
                    <div class="tile medium" id="tile-1">
                        <div class="tile-inner">
                            <a class="tile-link">
                                <div class="tile-bg"></div>
                                <div class="tile-media">
                                    <img class="tile-media-bg" src="/images/assets/opensource.jpg" alt="Course 1">
                                </div>
                                <div class="tile-content">
                                    <div class="tile-content-inner">
                                        <h2 class="tile-title">Course 1</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <section>
                            <div class="shine top"></div>
                            <div class="shine bottom"></div>
                        </section>
                    </div>
                    <div class="tile medium" id="tile-2">
                        <div class="tile-inner">
                            <a class="tile-link">
                                <div class="tile-bg"></div>
                                <div class="tile-media">
                                    <img class="tile-media-bg" src="/images/assets/people.jpeg" alt="Course 2">
                                </div>
                                <div class="tile-content">
                                    <div class="tile-content-inner">
                                        <h2 class="tile-title">Course 2</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <section>
                            <div class="shine top"></div>
                            <div class="shine bottom"></div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){

                $('#tile-1').click(function() {
                    $(".mobile-menu").hide();

                    $(this).toggleClass('selected');
                    id = this.id;
                    id = id.split('-');
                    id = "#panel" + id[1];
                    $(id).addClass('open');
                    $('body').css('overflow','hidden');
                    $("html, body").animate({ scrollTop: $(id).offset().top }, 500);
                });

                $('.panel-close').click(function(){
                    $(this).toggleClass('selected');
                    id = this.id;
                    //FIX THIS TO BE NICER
                    idTemp = id.split('-');
                    id = idTemp[0].split('_');
                    $(idTemp[0]).toggleClass('selected');
                    panel = "#panel" + id[1];
                    $(panel).removeClass('open');
                    $('body').css('overflow','scroll');
                });
            });

            function submitForm(){
              $.ajax({
                url: "https://www.google.com/recaptcha/api/siteverify",
                method: "POST",
                data: {secret: "6LeL4A8TAAAAAPTd79R2RYIyd9ufKGHvkOIskjMW", response: grecaptcha.getResponse()}, //developers.sky.com
                success: function(data) {
                  var name = $('#fullName').val() + "\n";
                  var email = $('#email').val() + "\n";
                  var skills = ["Java", "CSharp", "Cpp", "Mobile", "Javascript", "HTML", "CSS", "PHP", "TDD", "ContinuousInt", "Agile"];
                  var skillsFormatted = "";
                  for(i = 0; i < skills.length; i++) {
                      if ($('#' + skills[i]).is(":checked")) {
                        if(skills[i] == "Cpp") {
                          skillsFormatted += "- " + "C++" + "\n";
                        } else if(skills[i] == "CSharp") {
                          skillsFormatted += "- " + "C#" + "\n";
                        } else if(skills[i] == "ContinuousInt") {
                          skillsFormatted += "- " + "Continuous Integration" + "\n";
                        } else {
                          skillsFormatted += "- " + skills[i] + "\n";
                        }
                      }
                  }
                  var otherSkills = $('#other').val() + "\n";
                  var message = $('#message').val() + "\n";
                  var linkedIn = $('#linkedin').val() + "\n";
                  var github = $('#github').val() + "\n";

                  $.ajax({
                    //url: "//formspree.io/Annelisa.Dinwoodie@sky.uk",
                    url: "//formspree.io/craig.rees2@sky.uk",
                    method: "POST",
                    crossDomain:true,
                    dataType: 'jsonp',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data: {Name: name, Email: email, Skills: skillsFormatted, Other: otherSkills, LinkedIn: linkedIn, GitHub: github, Message: message},
                    success: function(data) {
                      $("#contact-form").children().hide();
                      $("#contact-form").append("<p id='thankyou' style='text-align: center; font-size: 35px;'>Thank you for contacting us</p>");
                    },
                    dataType: "json",
                  });
                },
                error: function(xhr, status, error) {
                  console.log("An Error has occurred. Please try again later.");
                },
                dataType: "json"
              });
            }
        </script>
        {% include footer.html %}
    </body>
</html>
