<section class="module clearfix tabs-container page-nav whole-page" data-function="tabs" id='main-nav-tabs'>
    <a class="dev-logo" href="/">
        <img src="/images/assets/skyDevSpectrum.png" height="50" class="dev-logo-image" />
    </a>
    <ul id="main-menu" class="tabs main-menu" role="tablist">
        <li id="Home" class="tab selected" role="tab">
            <a href="/" class="ellipsis internal-link"><span>Home</span></a>
        </li>
        <li id="Courses" class="tab" role="tab">
            <a href="/courses" class="ellipsis internal-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span>Courses</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/courses/evening">Evening Course</a></li>
                <li><a href="#">Coming Soon</a></li>
                <li><a href="#">Coming Soon</a></li>
            </ul>
        </li>
        <li id="FAQ" class="tab" role="tab">
            <a href="/faq" class="ellipsis internal-link"><span>FAQ</span></a>
        </li>
    </ul>

<!--
    <div class="mobile-menu">
        <ul>
            <li id="Home" class="tab selected" role="tab">
                <a href="/" class="ellipsis internal-link"><span>Home</span></a>
            </li>
            <li id="Courses" class="tab" role="tab">
                <a href="/courses" class="ellipsis internal-link"><span>Courses</span></a>
            </li>
            <li id="FAQ" class="tab" role="tab">
                <a href="/faq" class="ellipsis internal-link"><span>FAQ</span></a>
            </li>
        </ul>
    </div>
-->

    <button class="hamburger"><span class="mega-octicon octicon-three-bars"></span></button>
</section>

<!--
<script type="text/javascript">
    $(".hamburger").click(function () {
        $(".mobile-menu").slideToggle("slow", function () {});
    });
</script>-->
