---
title: Evening Course
---
{% include head.html %}
<!DOCTYPE html>
<html>
    <head>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script>
          $(function() {
            $("#accordion").accordion();
          });
        </script>
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="polaris-wrapper profiles">
            <section class="hero-container">
                <div class="hero-wrapper"></div>
            </section>

            <section class="tile-container top">
                <div class="description small-long">
                    <h2>Evening Course</h2>
                    <hr>
                    <p>Our 14 week evening course is designed for those who would like to learn flexibly in their own time.</p>
                </div>
            <div class="tile-container">
                <div id="accordion" class="accordion">
                  <h3>Key Information <i class="fa fa-chevron-down"></i></h3>
                  <div>
                    <p>The first evening course starts 18th April 2016 - contact us to book your place!</p>
                  </div>
                  <h3>Modules <i class="fa fa-chevron-down"></i></h3>
                  <div>
                    <p>On this course you’ll learn the basics of web development, covering topics such as:</p>

                    <ul>
                      <li>The Internet & Its Technologies</li>
                      <li>Object Oriented Programming</li>
                      <li>Databases</li>
                      <li>Security</li>
                      <li>HTML & CSS</li>
                      <li>JavaScript</li>
                      <li>PHP</li>
                      <li>MySQL</li>
                    </ul>
                  </div>
                  <h3>Important Dates!<i class="fa fa-chevron-down"></i></h3>
                  <div>
                    <p>The first evening course starts 18th April 2016</p>
                    <p>The first evening course will end 18th April 2016</p>              
                    <p>The next taster session .....?????</p>
                  </div>
                  <h3>Contact Information <i class="fa fa-chevron-down"></i></h3>
                  <div>
                    <p>
                    </p>
                  </div>
                </div>

                <div class="tile small apply" id="tile-1">
                    <div class="tile-inner">
                        <a class="tile-link" href="mailto:womenintech@sky.uk?Subject=WITA%20Applicant">
                            <div class="tile-bg"></div>
                            <div class="tile-media">
                                <span class="mega-octicon octicon-checklist"></span>
                            </div>
                            <div class="tile-content">
                                <div class="tile-content-inner">
                                    <h2 class="tile-title">Get in Touch</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <section>
                        <div class="shine top"></div>
                        <div class="shine bottom"></div>
                    </section>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
